@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&family=Herr+Von+Muellerhoff&family=Homemade+Apple&family=Kaushan+Script&family=Orbitron&family=Tangerine&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
